<div class="img-bg">
  <section class="max-width-1440">

    <img class="se-logo-sticker-mobile" src="/assets/img/contact/sticker-name.png" alt="Logo">

    <div class="contact-text-container">

      <div class="contact-title">
        <h3 [innerHTML]="langService.translationsMap.contact.titleH3"></h3>
        <h2 [innerHTML]="langService.translationsMap.contact.titleH2"></h2>
      </div>

      <span class="f-s18" [innerHTML]="langService.translationsMap.contact.text"></span>
      <img class="yellow-arrow" src="/assets/img/contact/yellow-arrow.png">
      <div class="sticker-container">
      </div>

    </div>

    <div class="contact-form-container">
      <img class="se-logo-sticker" src="/assets/img/contact/sticker-name.png" alt="Logo">
      <app-contactform></app-contactform>
    </div>




  </section>
  <div class="max-width-1440">
    <app-footer></app-footer>
  </div>
</div>