<section>
  <div class="max-width-1440">
    <div class="padding-container">

      <div class="contact-text-container">
        <div class="contact-title">
          <h3>Contact me</h3>
          <h2>Ready to work <br>together?</h2>
        </div>
        <span class="encourage-text">
          Encourage people to contact you and describe what role you are interested in. Express confidence in
          your ability to make a meaningful contribution to a team through your expertise and enthusiasm for
          improving your skills. <br><br>
          Show interest in contributing to a new project, while highlighting the
          value and skills you can bring to the table.
        </span>
        <img class="yellow-arrow" src="/assets/img/contact/yellow-arrow.png">
        <div class="sticker-container">
          <img class="orange-sticker" src="/assets/img/contact/yellow-sticker.png" alt="Sticker">

          <!-- Das SE-Logo in die Mitte -->
          <img class="se-logo-sticker" src="/assets/img/header/se-logo.png" alt="Logo">

          <svg class="text-curve" viewBox="0 0 168 168">
            <defs>
              <path id="circlePath" d="M84,84 m-65,0 a65,65 0 1,1 130,0 a60,60 0 1,1 -130,0" />
            </defs>
            <text class="curved-text" font-size="11.7">
              <textPath href="#circlePath" startOffset="0%">
                Edgar Stroh — Frontend Developer — Edgar Stroh — Frontend Developer —
              </textPath>
            </text>
          </svg>
        </div>
       
      </div>
    

     
      <div class="contact-form-container">
        <app-contactform></app-contactform>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</section>