section {
    position: relative;
    background-image: url("/assets/img/contact/contact-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    background-position: top;
}

.padding-container {
    // padding: 144px 120px;
    padding: 184px 120px 144px 120px;
}

.contact-text-container {

    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 560px;

    .contact-title {
        gap: 16px;
        display: grid;
    }

    span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: justify;

    }
}

.yellow-arrow {
    width: 280px;
    height: 44px;
    margin-left: auto;
    animation: revealArrow 3s ease-out infinite;
    animation-delay: 100ms;
}

@keyframes revealArrow {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    20% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

h2,
h3,
span {
    color: white;
}