<section class="max-width-1440">
    <div class="paper-left">
        <div class="paper-wrapper yellow">
            <img class="paper-img" src="/assets/img/about-me/ripped-paper-yellow.png">
            <div class="paper-content">
                <img class="paper-icons" src="/assets/img/about-me/location.png">
                <span>Based in Cologne</span>
            </div>
        </div>
        <div class="paper-wrapper blue">
            <img src="/assets/img/about-me/ripped-paper-blue.png">
            <div class="paper-content">
                <img class="paper-icons" src="/assets/img/about-me/relocation.png">
                <span>Open to relocate</span>
            </div>
        </div>
        <div class="paper-wrapper orange">
            <img src="/assets/img/about-me/ripped-paper-orange.png">
            <div class="paper-content">
                <img class="paper-icons" src="/assets/img/about-me/remote.png">
                <span>Open to work remote</span>
            </div>
        </div>
    </div>

    <div class="text-right">
        <h3>WHO'S EDGAR</h3>
        <div>
            <h2>About me</h2>
            <img src="/assets/img/about-me/blue-line.png">
        </div>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur hic eveniet assumenda, eos dolorem
            nulla dolore veniam corrupti ipsa provident porro, velit aliquam ea laudantium itaque quos tenetur.
            Veritatis, eveniet?</span>
        <span>Let's collaborate and build something remarkable together!</span>

        <button class="lets-talk">Let's talk</button>
    </div>
</section>