input[type=text],
select,
textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: #F8F9FA;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    padding-top: 128px;
    display: flex;
    gap: 40px;
    border-radius: 5px;
    background-color: none;
    color: white;
    max-width: 480px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #F8F9FA;
    opacity: 1;
    font-style: italic;
}

textarea::placeholder,
input::placeholder {
    font-size: 18px;
    font-family: Bricolage Grotesque;
    color: #F8F9FA;
    opacity: 1;
}

.form-style {
    cursor: pointer;
    padding: 16px 24px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #F7C518;
    min-height: 100px;
    transition: border-color 100ms ease-in-out;

    &:hover {
        border-bottom: 1px solid #3355FF;
        border-top: 1px solid #3355FF;
    }

    &:hover label {
        color: #F87A55;
        transition: color 100ms ease-in-out;
    }

}

form {
    max-width: 480px;
    width: 100%;
}

input,
textarea {
    font-size: 18px;
    font-family: Bricolage Grotesque;
    font-weight: 500;
    color: #F8F9FA;

}

textarea {
    height: 20px;
    transition: height .3s ease-in-out;
    overflow: hidden;
    resize: none;
    padding: 0;
}

textarea:focus {
    height: 180px;
}

input:focus,
textarea:focus {
    border: none;
    outline: none;
}

label {
    cursor: pointer;
}

input.ng-invalid.ng-touched::placeholder,
textarea.ng-invalid.ng-touched::placeholder {
    color: #FF3A00;
}