input[type=text],
select,
textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    resize: vertical
}





input[type=submit] {
    background-color: #04AA6D;
    color: #992424;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}

button[disabled] {
    box-shadow: 2px 4px 0px 0px grey;
    border-color: grey;
    color: grey;
    cursor: not-allowed;
    opacity: 0.7;
    animation: unset;

    &:hover {
        background-color: unset;
        color: grey;
        box-shadow: 2px 4px 0px 0px grey;
        cursor: not-allowed;
        animation: unset;
        transform: none;
    }
}

.container {
    padding-top: 91.5px;
    display: flex;
    gap: 40px;
    border-radius: 5px;
    background-color: none;
    color: white;
    max-width: 480px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #F8F9FA;
    opacity: 1;
    font-style: italic;
}

textarea::placeholder,
input::placeholder {
    font-size: 18px;
    font-family: Bricolage Grotesque;
    color: #F8F9FA;
    opacity: 1;
}

.form-style {
    cursor: pointer;
    padding: 16px 24px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #F7C518;
    min-height: 100px;
    transition: border-color 100ms ease-in-out;

    &:hover {
        border-bottom: 1px solid #3355FF;
        border-top: 1px solid #3355FF;
    }

    &:hover label {
        color: #F87A55;
        transition: color 100ms ease-in-out;
    }
}

form {
    max-width: 480px;
    width: 100%;
}

input,
textarea {
    font-size: 18px;
    font-family: Bricolage Grotesque;
    font-weight: 500;
    color: #F8F9FA;

}

textarea {
    height: 20px;
    transition: height .3s ease-in-out;
    overflow: hidden;
    resize: none;
    padding: 0;
}

textarea:focus {
    height: 180px;
}

input:focus,
textarea:focus {
    border: none;
    outline: none;
}

label {
    cursor: pointer;
}

input.ng-invalid.ng-touched::placeholder,
textarea.ng-invalid.ng-touched::placeholder {
    color: #FF3A00;
}

.submit-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.checkbox-container {
    width: 24px;
    height: 24px;

    .checkbox {
        margin-top: 3px;
        appearance: none;
        width: 18px;
        height: 18px;
        border: 3px solid #3355FF;
        border-radius: 3px;
        background-color: transparent;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: #3355FF4D;
        }
    }

    .checkbox:checked::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url('/assets/img/contact/icons/check.png');
        background-size: cover;
        background-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

a {
    color: #3355FF;

    &:hover {
        color: #F7C518;
    }
}

.privacy-error {
    color: #F87A55;
    margin-top: 8px;
    font-size: 14px;
}

.error-container {
    height: 0px;
    margin-left: 25px;
}

.error {
    color: red;
    font-size: 14px;
}

.checkbox-error-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-text-container {
    display: flex;
    gap: 8px;
}

.yellow-arrow {
    max-width: 180px;
    width: 100%;
    max-height: 34px;
    height: 100%;
    margin-left: auto;
    animation: revealArrow 3s ease-out infinite;
    animation-delay: 100ms;
    display: none;
    margin-top: 5px;
}

@keyframes revealArrow {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    20% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

button {
    box-shadow: 2px 4px 0px 0px white;
    transition:
        background-color 0.12s ease-in,
        box-shadow 0.12s ease-in,
        transform 0.12s ease-in;
    margin-left: auto;
    margin-right: 2px;

    &:hover {
        background-color: #F87A55;
        transform: translate(2px, 4px);
        box-shadow: none;
    }
}

.arrow-submit-btn {
    display: flex;
    align-items: center;
    height: fit-content;
    padding-top: 60px;

}


@media (max-width: 1200px) {
    .yellow-arrow {
        display: unset;
    }
}

@media (max-width: 1130px) {

    .container {
        padding-top: unset;
    }
}

@media (max-width: 400px) {
    .yellow-arrow {
        width: 150px;
    }
}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

input::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
}

.send-overlay {
    /* Grundstyle */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    animation: fadeInOut 3s ease-in-out forwards;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.3);
}


.send-message-box {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 16px;
    animation: popUp 0.5s ease;
}

.send-icon {
    font-size: 2.5rem;
    color: #4caf50;
}

.send-text {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

@keyframes popUp {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        visibility: visible;
    }

    20% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}