.hero-bg {
  background-image: url("/assets/img/hero/hero-bg.png");
  background-size: cover;
  background-position: bottom; // Bild bleibt unten ausgerichtet
  background-repeat: no-repeat;
  min-height: 100vh; // Mindestens die Höhe des Viewports
}

.title-foto {
  justify-content: center;
  padding: 180px 50px 0 50px;
  display: flex;
  gap: 100px;
}

.button-title {
  display: flex;
  flex-direction: column;
  // align-items: flex-start; /* Verhindert, dass sich das div ausdehnt */
  min-width: 835px;
  /* Feste Breite für den Textbereich */
}

.title-font-frontend {
  padding-top: 25px;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: white;
}

.title-font-dev {
  padding-top: 20px;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: white;
  margin-left: auto;
  width: fit-content;
}

.title {
  display: flex;
  gap: 5px;
  width: fit-content;
  color: white;

  display: inline-block;
}

.letter {
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: white;

  &:first-child {
    text-transform: uppercase;
  }

  &:not(:first-child) {
    text-transform: lowercase;
  }

  &:hover {
    text-transform: uppercase !important;
    transition: transform 200ms ease-in, color 200ms ease-in;
    color: #F7C518;
  }

  &:hover:first-child {
    text-transform: lowercase !important;
  }
}


.letter.dev {
  text-transform: uppercase;

  &:hover {
    text-transform: lowercase !important;
    transition: transform 200ms ease-in, color 200ms ease-in;
  }
}


.pic-frame {
  height: 250px;
  width: 200px;
  margin-left: -250px;
  transform: rotate(8deg) translateY(-22px);
}

.button-gt {
  margin-left: auto;
  box-shadow: 2px 4px 0px 0px #F8F9FA;
  margin-top: 25px;
  transition: background-color 0.12s ease-in, box-shadow 0.12s ease-in;

  &:hover {
    background-color: #F87A55;
    box-shadow: none;
    transform: translate(2px, 4px);

  }
}

.contact-icons {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 8px;
  cursor: pointer;
  position: absolute;
  left: 100px;
  bottom: 100px;

  >img {
    padding: 2px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 100px;

    &:hover {
      background-color: #3355FF;
    }
  }

}

@keyframes smartAnimate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes smartAnimateReverse {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes waveHand {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }

  30% {
    opacity: 0.7;

  }

  100% {
    transform: translateX(45px) rotate(350deg);
    opacity: 1;
  }
}

@keyframes waveHandReverse {
  0% {
    transform: translateX(45px) rotate(350deg);
    opacity: 1;
  }

  30% {
    opacity: 0.7;

  }

  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;

  }
}

.wave-hand {
  margin-left: 110px;
  display: flex;
  width: 40px;
  height: auto;
  opacity: 0;
}

.helloworld-btn {
  transition: background-color 0.125s ease-out, color 0.12s ease-out, transform 0.12s cubic-bezier(0.25, 1, 0.5, 1), min-width 0.3s ease;
  will-change: transform, width;
  position: relative;
  overflow: hidden;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;

  &::after {
    content: "Hello world";
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }

  &:hover {
    background-color: #3355FF;
    animation: smartAnimate 0.6s ease-in-out;
    min-width: 180px;
  }

  &:hover::after {
    content: "I'm Edgar Stroh";
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }
}


.wave-hand-animation {
  width: fit-content;
}

.wave-hand-animation.hovered .wave-hand {
  opacity: 1;
  animation: waveHand 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.wave-hand-animation.reverse .wave-hand {
  animation: waveHandReverse 0.25s ease-out forwards;
}