header {
  height: 80px;
  align-content: center;
  padding: 19px 72px;
  gap: 32px;
  position: fixed;
  z-index: 200;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.switch-container,
.mobile-switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  cursor: pointer;
}

span {
  font-weight: 700;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.active {
  color: #ff8057;
}

.inactive {
  color: #F8F9FA;
}

.switch {
  width: 35px;
  height: 8px;
  background-color: #ff8057;
  border-radius: 15px;
  position: relative;
  transition: background 0.3s ease-in-out;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.switch::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #2f6cff;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  position: absolute;
  top: -7px;
  left: -4px;
  transition: transform 0.3s ease-in-out;
}

.left::after {
  transform: translateX(2px);
}

.right::after {
  transform: translateX(20px);
}

nav ul li a {
  position: relative;
  display: inline-block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 165%;
  background-size: cover;
  background-position: center;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.125s ease-out;
}

nav ul li a:hover::after {
  clip-path: inset(0 0 0 0);
}

.nav-link.aboutme::after {
  background-image: url('/assets/img/header/aboutme-hover.png');
}

.nav-link.skills::after {
  background-image: url('/assets/img/header/skills-hover.png');
}

.nav-link.projects::after {
  background-image: url('/assets/img/header/projects-hover.png');
}

.nav-link.contact::after {
  background-image: url('/assets/img/header/contact-hover.png');
}

.burger-menu {
  display: none;
  margin-right: -7px;
  margin-left: auto;
  // z-index: 30;
}

button {
  border: 0px;
  padding: 0px;
}

.burger-menu-img {
  margin-top: 5px;
  width: 32px !important;
  height: 32px !important;
}

ul {
  li {
    margin-bottom: 18.5px;
  }

  .switch-container {
    margin-bottom: 17px;
  }

  .burger-menu {
    margin-bottom: 14px;
  }
}



.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/img/header/responsive/menu-bg.png');
  background-size: cover;
  background-position: center;
  z-index: 15;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  &.show {
    transform: translateY(0);
  }

  .nav-links {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex !important;
    flex-direction: column !important;

    li {
      margin: 30px 0;

      a {
        text-decoration: none;
        font-size: 20px;
        color: white;
      }
    }
  }

}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 9px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .se-logo {
    height: 60px;
    width: 70px;
  }

  .close-btn {
    background: none;
    border: none;

    img {
      margin-right: -7px;
      width: 32px;
      height: 32px;
    }
  }
}

.contact-icons {
  display: flex;
  gap: 28px;
  cursor: pointer;
  margin-top: 80px;

  >img {
    padding: 2px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 100px;

    &:hover {
      background-color: #3355FF;
      transition: ease-in-out 125ms;
    }
  }
}

@media (max-width: 1015px) {
  header {
    padding: 5px 20px;
  }
}

@media (max-width: 600px) {

  .hide {
    display: none !important;
  }

  .switch-container {
    display: none;
  }

  .mobile-switch-container {
    margin-top: 35px;
  }

  .burger-menu {
    display: flex;
  }

  .se-logo {
    height: 60px;
    width: 70px;
  }
}