header {
  height: 80px;
  align-content: center;
  padding: 19px 22px;
  gap: 32px;
  

}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  cursor: pointer;
}

span {
  font-weight: 700;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.active {
  color: #ff8057;
}

.inactive {
  color: white;
}

.switch {
  width: 35px;
  height: 8px;
  background-color: #ff8057;
  border-radius: 15px;
  position: relative;
  transition: background 0.3s ease-in-out;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.switch::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #2f6cff;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  position: absolute;
  top: -7px;
  left: -4px;
  transition: transform 0.3s ease-in-out;
}

.left::after {
  transform: translateX(2px);
}

.right::after {
  transform: translateX(20px);
}

nav ul li a {
  position: relative;
  display: inline-block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 165%;
  background-size: cover;
  background-position: center;
  clip-path: inset(0 100% 0 0); 
  transition: clip-path 0.125s ease-out; 
}

nav ul li a:hover::after {
  clip-path: inset(0 0 0 0); 
}


nav ul li:nth-child(2) a::after {
  background-image: url('/assets/img/header/aboutme-hover.png');
}

nav ul li:nth-child(3) a::after {
  background-image: url('/assets/img/header/skills-hover.png');
}

nav ul li:nth-child(4) a::after {
  background-image: url('/assets/img/header/projects-hover.png');
}

nav ul li:nth-child(5) a::after {
  background-image: url('/assets/img/header/contact-hover.png');
}