.project-detail-bg {
    background-image: url("/assets/img/projects/project-detail/project-detail-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1D1D1D;
    height: 100vh;

}

.lin-grad {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15%);
}

.arrow-back-container {
    padding-top: 60px;
    padding-left: 67px;
    display: flex;
    align-items: center;
    gap: 8px;
    pointer-events: none;

    span {
        font-weight: 700;
        font-size: 18px;
        pointer-events: auto;
        cursor: pointer;

        &:hover {
            color: #F87A55;
        }
    }
}

.arrow-back {
    height: 24px;
    width: 24px;
    pointer-events: auto;
    cursor: pointer;
}

.project-detail-view {
    padding: 55px 120px;
    // gap: 48px;
    display: flex;

    h2 {
        font-weight: 700;
        font-size: 64px;
    }

}

.project-detail-view-ls {
    max-width: 600px;
    width: 100%;
}

.project-detail-headline {
    // padding-bottom: 16px;
    font-weight: 800;
    font-size: 24px;
}

.headline-container {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    // padding-bottom: 40px;
}

.proj-detail-text {
    display: flex;
    flex-direction: column;
    // padding-top: 40px;
    // gap: 16px;
    width: 78%;

    span {
        padding-bottom: 25px;
        width: 100%;
    }
}

.blue-line {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    min-height: 15px;
    animation: revealArrow 3s ease-out infinite;
    // margin-bottom: 20px;
}

@keyframes revealArrow {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    20% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.duration-container {
    margin-bottom: 25px;
}

.project-detail-duration {
    // padding-top: 14px;
    font-weight: 700;
    font-size: 18px;
}

.lang-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.lang-img {
    height: 24px;
}

.project-detail-view-rs {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-img-image {
    display: block;
    height: 375px;
    width: 560px;
    border-radius: 20px;
    //   padding: 8px;
    // border-radius: 12px;
    border: 1px solid rgba(200, 200, 255, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.project-img-sticker {
    height: 120px;
    width: 120px;
    position: absolute;
    right: -45px;
    top: 130px;
}

.button-container {
    padding-top: 21px;
    display: flex;
    gap: 35px;
    justify-content: right;
}

button {
    box-shadow: 2px 4px 0px 0px white;

    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
        transition: background-color 0.12s ease-in, box-shadow 0.12s ease-in;
    }
}

.arrow-back-container-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    display: none;
}

.next-proj-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow-back-yellow-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    // gap: 8px;
    justify-content: right;
    margin-right: -43px;
    pointer-events: none;

    span {
        font-weight: 700;
        font-size: 18px;
        color: white;
        pointer-events: auto;
        cursor: pointer;

        &:hover {
            color: #F7C518;
        }
    }
}

.project-image-wrapper {
    position: relative;
}

@media (max-width: 1370px) {
    .project-detail-view {
        padding: 55px 64px;
    }
}

@media (max-width: 1200px) {

    .project-detail-view {
        flex-direction: column;
    }

    .project-detail-bg {
        background-image: url("/assets/img/projects/project-detail/project-detail-bg.png");
        background-position: top;
        height: fit-content;
    }

    .project-detail-view-ls {
        max-width: unset;
    }

    .project-detail-view-rs {
        margin-top: 40px;
        align-items: center;
    }

    .proj-detail-text {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
            width: 100%;
        }
    }

    .arrow-back-yellow-container {
        margin-right: unset;
        margin-left: auto;
        width: 100%;
        justify-content: space-between;
    }

    .arrow-back-container {
        display: none;
    }

    .arrow-back-container-mobile {
        display: flex;
    }
}

@media (max-width: 700px) {
    .project-img-sticker {
        right: 0;
        top: 0;
    }

    .project-img-image {
        max-width: 560px;
        width: 100%;
        max-height: 375px;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .project-detail-view {
        padding: 14px 14px;
    }

    .project-detail-headline {
        font-size: 20px;
        padding-bottom: 12px !important;
    }
}

@media (max-width: 500px) {
    .project-img-sticker {
        height: 80px;
        width: 80px;
    }
}



@media (max-width: 770px) {
    .project-detail-bg {
        background-size: 120%;
    }
}

@media (max-width: 670px) {
    .project-detail-bg {
        background-size: 140%;
    }
}

@media (max-width: 510px) {
    .project-detail-bg {
        background-size: 170%;
    }
}

@media (max-width: 440px) {
    .project-detail-bg {
        background-size: 240%;
    }
}

@media (max-width: 350px) {
    .lang-container {
        width: 87%;
        flex-flow: wrap;
    }
}

@media (max-width: 340px) {
    .project-detail-bg {
        background-size: 270%;
    }
}