.project-detail-bg {
    background-image: url("/assets/img/projects/project-detail/project-detail-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1D1D1D;
    height: 100vh;
}

.lin-grad {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 15%);
}

.arrow-back-container {
    padding-top: 60px;
    padding-left: 67px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    span {
        font-weight: 700;
        font-size: 18px;

        &:hover {
            color: #F87A55;
        }
    }
}

.arrow-back {
    height: 24px;
    width: 24px;
}

.project-detail-view {
    padding: 55px 120px;
    // gap: 48px;
    display: flex;

    h2 {
        font-weight: 700;
        font-size: 64px;
    }

}

.project-detail-headline {
    padding-bottom: 16px;
    font-weight: 800;
    font-size: 26px;
}

.headline-container {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    // padding-bottom: 40px;
}

.proj-detail-text {
    display: flex;
    flex-direction: column;
    // padding-top: 40px;
    // gap: 16px;
    width: 78%;

    span {
        padding-bottom: 25px;
    }
}

.blue-line {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    min-height: 20px;
    animation: revealArrow 3s ease-out infinite;
    // margin-bottom: 20px;
}

@keyframes revealArrow {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    20% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.duration-container {
    margin-bottom: 25px;
}

.project-detail-duration {
    // padding-top: 14px;
    font-weight: 700;
    font-size: 18px;
}

.lang-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.lang-img {
    height: 24px;
}

.project-detail-view-rs {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-img-image {
    display: block;
    height: 375px;
    width: 560px;
    border-radius: 20px;
}

.project-img-sticker {
    height: 120px;
    width: 120px;
    position: absolute;
    right: -71px;
    top: 130px;
}

.button-container {
    padding-top: 21px;
    display: flex;
    gap: 35px;
    justify-content: right;
}

button {
    box-shadow: 2px 4px 0px 0px white;

    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
        transition: background-color 0.12s ease-in, box-shadow 0.12s ease-in;
    }
}

.arrow-back-yellow-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: right;
    margin-right: -50px;
    cursor: pointer;

    span {
        font-weight: 700;
        font-size: 18px;
        color: white;

        &:hover {
            color: #F7C518;
        }
    }
}