<div class="project-detail-bg ">
  <div class="lin-grad">
    <div class=" max-width-1440">
      <app-header></app-header>

      <div class="arrow-back-container" [routerLink]="['/']">
        <img class="arrow-back" src="/assets/img/projects/project-detail/icons/arrow-back.png">
        <span>Go Back</span>
      </div>


      <div class="project-detail-view">

        <div class="project-detail-view-ls">
          <div class="headline-container">
            <h2>{{ project.title }}</h2>
            <img class="blue-line" src="/assets/img/about-me/blue-line.png">
          </div>

          <div class="proj-detail-text">
            <span class="project-detail-headline">Description</span>
            <span>{{ project.description }}</span>

            <span class="project-detail-headline">Implementation Details</span>
            <span>{{ project.details }}</span>

            <div class="duration-container">
              <span class="project-detail-duration">Duration:</span>
              {{ project.duration }}
            </div>
          </div>


          <div class="lang-container">
            <ng-container *ngFor="let lang of project.languages; let i = index">
              <img class="lang-img" [src]="project.lang_img[i]" alt="{{ lang }}">
              <span>{{ lang }}</span>
            </ng-container>
          </div>
        </div>

        <div class="project-detail-view-rs">
          <div class="project-image-wrapper">
            <img class="project-img-image" src="{{project.image}}">
            <img class="project-img-sticker" src="{{project.sticker}}">
          </div>


          <div class="button-container">
            <button>GitHub</button>
            <button>Live Test</button>
          </div>



          <div class="arrow-back-yellow-container" (click)="goToNextProject()" [class.disabled]="!nextSlug">

            <div class="arrow-back-container-mobile" [routerLink]="['/']">
              <img class="arrow-back" src="/assets/img/projects/project-detail/icons/arrow-back.png">
              <span>Go Back</span>
            </div>

            <div class="next-proj-container">
              <span>Next Project</span>
              <img class="arrow-back" src="/assets/img/projects/project-detail/icons/arrow-back-yellow.png">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>