<section class="max-width-1440">
    <div class="projects-content ">
        <div class="title-text-join">
            <div class="projects-title-text">
                <div class="projects-title">
                    <h3>My Craft</h3>
                    <h2>Projects</h2>
                    <img class="projects-title-underline" src="/assets/img/projects/projects-underline.png">
                </div>
                <span>
                    <span class="f-s20">
                        Check out some of the projects I've built to sharpen my frontend skills and explore real-world
                        use cases.
                        I focus on writing clean, efficient code and designing responsive, user-friendly interfaces that
                        feel good on any device.

                        Whether it's a game, a productivity tool, or an interactive web app - each project taught me
                        something new and pushed me further.
                    </span>

                </span>
            </div>

            <app-singleprojects></app-singleprojects>
        </div>

    </div>
</section>