section {
    min-height: 90vh;
    padding-top: 144px;
    padding-right: 120px ;
    padding-left: 120px;
    padding-bottom: 80px;
    // padding: 144px 120px;
    // background-color: aqua;
}

.projects-title-text {
    width: 560px;
    height: 238px;
    gap: 38px;
    display: flex;
    flex-direction: column;
    // align-self: center;
}

.projects-title {
    gap: 16px;
}

.projects-title-underline {
    animation: revealAnimation 4s infinite ease-in-out;
}

@keyframes revealAnimation {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    40% {
        clip-path: inset(0 0 0 0);
    }

    70% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.projects-content {
    display: flex;
    justify-content: space-between;
    /* Abstand zwischen den Elementen */
 
    align-items: center;
    /* Vertikal zentrieren */
    max-width: 1440px;
    margin: 0 auto;
}

.title-text-join {
    // height: 660px;
    // display: flex;
    justify-content: space-between;
    width: 100%;
}

app-singleprojects {
    display: flex;
    flex-wrap: wrap; /* Falls nicht genug Platz da ist, umbrechen */
    // gap: 32px; /* Abstand zwischen den Projekten */
    // justify-content: center; /* Zentriert die Projekte */
    justify-content: space-between;
  }
  