<section class="max-width-1440">
    <div class="projects-content ">
        <div class="title-text-join">
            <div class="projects-title-text">
                <div class="projects-title">
                    <h3>{{ langService.translationsMap.projects.titleH3 }}</h3>
                    <h2>{{ langService.translationsMap.projects.titleH2 }}</h2>
                    <img class="projects-title-underline" src="/assets/img/projects/projects-underline.png">
                </div>
                <span>
                    <span class="f-s20">
                        {{ langService.translationsMap.projects.description }}
                    </span>

                </span>
            </div>

            <app-singleprojects></app-singleprojects>
        </div>

    </div>
</section>