.hero-bg {
  background-image: url("/assets/img/hero/hero-bg.png");
  background-size: cover;
  background-position: bottom; // Bild bleibt unten ausgerichtet
  background-repeat: no-repeat;
  min-height: 100vh; // Mindestens die Höhe des Viewports
}

.title-foto {
  justify-content: center;
  // padding: 170px 50px 0 50px;
  display: flex;
  gap: 100px;
}

.button-title {
  display: flex;
  flex-direction: column;
  // align-items: flex-start; /* Verhindert, dass sich das div ausdehnt */
  min-width: 835px;
  /* Feste Breite für den Textbereich */
}

.title-font-frontend {
  padding-top: 25px;
  // font-weight: 700;
  // font-size: 28px;
  // line-height: 100%;
  // color: white;
}

.title-font-dev {
  padding-top: 20px;
  // font-weight: 700;
  // font-size: 128px;
  // line-height: 100%;
  // color: white;
  margin-left: auto;
  // width: fit-content;
}

.title {
  display: flex;
  gap: 5px;
  // width: fit-content;
  // color: white;
  cursor: default;
  display: inline-block;
}

@keyframes smoothTextTransform {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(1.05);
  }

  50% {
    transform: scaleY(1.07);
  }

  75% {
    transform: scaleY(1.09);
  }

  100% {
    transform: scaleY(1.1);
    color: #F7C518;
  }
}

@keyframes smoothTextReset {
  0% {
    transform: scaleY(1.1);
    // color: #F7C518;
  }

  25% {
    transform: scaleY(1.09);
  }

  50% {
    transform: scaleY(1.07);
  }

  75% {
    transform: scaleY(1.05);
  }

  100% {
    transform: scaleY(1);
    color: white;
  }
}

.letter {
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: white;
  display: inline-block;
  vertical-align: bottom;
  transition: color 300ms ease-in-out;
  // animation: none; /* Animation ist AUS bis Hover aktiv wird */
}

/* Standard-Styling */
.letter:first-child {
  text-transform: uppercase;
}

.letter:not(:first-child) {
  text-transform: lowercase;
}

/* Hover Effekt */
.letter:hover {
  animation: smoothTextTransform 300ms ease-in-out forwards;
}

.letter:not(:hover) {
  animation: smoothTextReset 300ms ease-in forwards;
}

.letter:first-child:hover {
  text-transform: lowercase;
}

.letter:not(:first-child):hover {
  text-transform: uppercase;
}


.letter.dev {
  text-transform: uppercase;
  // transition: transform 300ms ease-in, color 300ms ease-in;

  &:hover {
    text-transform: lowercase !important;
    // transform: scale(1.1);
  }
}



.pic-frame {
  height: 250px;
  width: 200px;
  margin-left: -250px;
  transform: rotate(8deg) translateY(-22px);
}

.button-gt {
  margin-left: auto;
  margin-top: 25px;
  box-shadow: 2px 4px 0px 0px #F8F9FA;
  transition:
    background-color 0.12s ease-in,
    box-shadow 0.12s ease-in,
    transform 0.12s ease-in;

  &:hover {
    background-color: #F87A55;
    transform: translate(2px, 4px);
    box-shadow: none;
  }
}


a {
  color: white;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  // padding-left: 72px;
  gap: 8px;
  width: fit-content;

  >img {
    padding: 2px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      background-color: #3355FF;
      transition: ease-in-out 125ms;
    }
  }
}

.wave-hand {
  margin-left: 110px;
  display: flex;
  width: 40px;
  height: auto;
  opacity: 0;
}

.helloworld-btn {
  transition: background-color 0.125s ease-out, color 0.12s ease-out, transform 0.12s cubic-bezier(0.25, 1, 0.5, 1), min-width 0.3s ease;
  will-change: transform, width;
  position: relative;
  overflow: hidden;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
  cursor: default;

  &::after {
    content: "Hello world";
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }

  &:hover,
  &.auto-hover {
    background-color: #3355FF;
    animation: buttonHoverScale 0.6s ease-in-out;
    min-width: 180px;
  }

  &:hover::after,
  &.auto-hover::after {
    content: "I'm Edgar Stroh";
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }
}



.wave-hand-animation {

  width: fit-content;
}

.wave-hand-animation.hovered .wave-hand {
  opacity: 1;
  animation: animationIconHover 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
}

.wave-hand-animation.reverse .wave-hand {
  animation: animationIconHoverReverse 0.25s ease-out forwards;
}

@media (max-width: 1439px) {
  section {
    padding-top: 82px!important;
  }
}

@media (max-width: 1015px) {

  .contact-icons {
    // padding-left: 20px;
  }

  .title-foto {
    // padding: 0px 15px 0 15px;
  }
}

@media (max-width: 970px) {
  .pic-frame {
    margin-left: -320px;
  }

}

@media (max-width: 855px) {
  .helloworld-btn {
    margin-left: 3px;
  }

  .pic-frame {
    position: absolute;
    bottom: 75px;
    margin-left: 0px;
  }
  section{
    padding-top: 35px!important;
  }

  .contact-icons {
    position: absolute;
    bottom: 85px;
  }

  .button-title {
    min-width: 0px;
    width: 100%;
  }

  .letter {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .letter {
    font-size: 80px;
  }

  .button-gt {
    margin-right: 4px;
  }

  .contact-icons {
    display: none;
  }

  .se-logo {
    height: 60px;
    width: 70px;
  }
}

@media (max-width: 500px) {
  .letter {
    font-size: 51px;
  }
}

@media (max-height: 730px) {
  .pic-frame {
    height: 200px;
    width: 160px;
    bottom: 40px;
  }

  .button-gt {
    margin-top: 10px;
  }

  .title-font-frontend {
    padding-top: 10px;
  }

  .title-font-dev {
    padding-top: 10px;
  }
}