.hero-bg {
  background-image: url("/assets/img/hero/hero-bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section {
  padding-top: 220px;
}

.title-foto {
  justify-content: center;
  display: flex;
  gap: 100px;
}

.button-title {
  display: flex;
  flex-direction: column;
  min-width: 835px;
}

.title-font-frontend {
  padding-top: 25px;
}

.title-font-dev {
  padding-top: 20px;
  margin-left: auto;
}

.title {
  display: flex;
  gap: 5px;
  cursor: none;
  display: inline-block;
}

@keyframes smoothTextTransform {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(1.05);
  }

  50% {
    transform: scaleY(1.07);
  }

  75% {
    transform: scaleY(1.09);
  }

  100% {
    transform: scaleY(1.1);
    color: #F7C518;
  }
}

@keyframes smoothTextReset {
  0% {
    transform: scaleY(1.1);
  }

  25% {
    transform: scaleY(1.09);
  }

  50% {
    transform: scaleY(1.07);
  }

  75% {
    transform: scaleY(1.05);
  }

  100% {
    transform: scaleY(1);
    color: white;
  }
}

.letter {
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: white;
  display: inline-block;
  vertical-align: bottom;
  transition: color 300ms ease-in-out;
}

.letter:first-child {
  text-transform: uppercase;
}

.letter:not(:first-child) {
  text-transform: lowercase;
}

.letter:hover {
  animation: smoothTextTransform 300ms ease-in-out forwards;
}

.letter:not(:hover) {
  animation: smoothTextReset 300ms ease-in forwards;
}

.letter:first-child:hover {
  text-transform: lowercase;
}

.letter:not(:first-child):hover {
  text-transform: uppercase;
}


.letter.dev {
  text-transform: uppercase;

  &:hover {
    text-transform: lowercase !important;

  }
}


.pic-font-container {
  position: relative;
  width: 200px;
  /* gleiche Breite wie das Bild */
  height: 250px;
  /* gleiche Höhe wie das Bild */
  margin-left: -250px;
  transform: rotate(8deg) translateY(-22px);
}

.pic-frame {
  width: 100%;
  height: 100%;
  display: block;
}

.pic-font {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  font-family: Kalam, sans-serif;
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  &::after {
    content: 'Edgar :)';
  }
}

.button-gt {
  margin-left: auto;
  margin-top: 25px;
  box-shadow: 2px 4px 0px 0px #F8F9FA;
  transition:
    background-color 0.12s ease-in,
    box-shadow 0.12s ease-in,
    transform 0.12s ease-in;

  &:hover {
    background-color: #F87A55;
    transform: translate(2px, 4px);
    box-shadow: none;
  }
}


a {
  color: white;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;

  >img {
    padding: 2px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      background-color: #3355FF;
      transition: ease-in-out 125ms;
    }
  }
}

.wave-hand {
  margin-left: 110px;
  display: flex;
  width: 40px;
  height: auto;
  opacity: 0;
}

.helloworld-btn {
  transition: background-color 0.125s ease-out, color 0.12s ease-out, transform 0.12s cubic-bezier(0.25, 1, 0.5, 1), min-width 0.3s ease;
  will-change: transform, width;
  position: relative;
  overflow: hidden;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  border: 1px solid #F8F9FA !important;

  &::after {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }

  &:hover,
  &.auto-hover {
    background-color: #3355FF;
    animation: buttonHoverScale 0.6s ease-in-out;
    min-width: 180px;
  }

  &:hover::after,
  &.auto-hover::after {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
  }
}

.helloworld-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;

  .hover-text {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.12s;
    font-size: 16px;
  }
}

.wave-hand-animation {
  width: fit-content;
}

.wave-hand-animation.hovered .wave-hand {
  opacity: 1;
  animation: animationIconHover 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
}

.hero-container {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.wave-hand-animation.reverse .wave-hand {
  animation: animationIconHoverReverse 0.25s ease-out forwards;
}

@media (max-width: 1439px) {
  section {
    padding-top: 180px !important;
  }
}

@media (max-width: 970px) {
  .title-foto {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
  }

  section {
    padding-top: 75px !important;
  }

.pic-font-container {
    margin-left: 0;
  }

  .contact-icons {
    position: static;
    padding-bottom: 25px;
  }

}

@media (max-width: 930px) {
  .helloworld-btn {
    margin-left: 3px;
  }

  section {
    padding-top: 65px !important;
  }

  .contact-icons {
    position: absolute;
    bottom: 35px;
  }

  .button-title {
    min-width: 0px;
    width: 100%;
  }

  .letter {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .letter {
    font-size: 80px;
  }

  .button-gt {
    margin-right: 4px;
  }

  .contact-icons {
    display: none;
  }

  .pic-font-container {
    margin-top: 50px;
  }

  .se-logo {
    height: 60px;
    width: 70px;
  }
}

@media (max-width: 500px) {
  .letter {
    font-size: 51px;
  }
}

@media (max-height: 730px) {
  .button-gt {
    margin-top: 10px;
  }

  .title-font-frontend {
    padding-top: 10px;
  }

  .title-font-dev {
    padding-top: 10px;
  }
}