<section>
    <div class="skill-content max-width-1440">
        <div class="title-text">
            <div class="title">
                <h3>MY STACK</h3>
                <div class="abc">
                    <h2>Skill set</h2>
                </div>
            </div>
            <div class="text">
                <img class="text-paper" src="/assets/img/skills/paper.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis nemo totam natus
                    earum, vel, blanditiis iure ipsum minus porro aliquam autem?</span>
            </div>
        </div>

        <div>
            sdfm
        </div>
    </div>
</section>