<section>
    <div class="skill-content max-width-1440">

        <div class="title-text">
            <div class="title">
                <h3>MY STACK</h3>
                <div class="abc">
                    <h2>Skill set</h2>
                </div>
            </div>
            <div class="text">
                <img class="text-paper" src="/assets/img/skills/paper.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis nemo totam natus
                    earum, vel, blanditiis iure ipsum minus porro aliquam autem?</span>
            </div>
        </div>

        <div class="skills-icon-container">
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/html.png"><span>HTML</span>
            </div>
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/css.png"><span>CSS</span>
            </div>
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/js.png"><span>JavaScript</span>
            </div>
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/ts.png"><span>TypeScript</span>
            </div>
            <div class="single-icon">
                <img class="skills-icon"
                    src="/assets/img/skills/icons/angular.png">
                    <span>Angular</span>
            </div>
            <div class="single-icon"><img class="skills-icon"
                    src="/assets/img/skills/icons/firebase.png"><span>Firebase</span></div>
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/git.png"><span>Git</span>
            </div>
            <div class="single-icon"><img class="skills-icon"
                    src="/assets/img/skills/icons/rest-api.png"><span>Rest-Api</span></div>
            <div class="single-icon"><img class="skills-icon" src="/assets/img/skills/icons/scrum.png"><span>Scrum</span>
            </div>
        </div>

    </div>
</section>