<div class="img-bg" [class.visible]="isVisible">
    <section class="max-width-1440">
        <div class="padding-container">
            <div class="title-text">
                <div class="title">
                    <h3>{{ langService.translationsMap.skills.title }}</h3>
                    <div class="image-container">
                        <img class="circle-animation" src="/assets/img/skills/orange-circle.png" alt="Skill-Kreis">
                        <h2 class="skill-text">{{ langService.translationsMap.skills.skillSet }}</h2>
                    </div>
                </div>
                <div class="text">
                    <img class="text-paper" src="/assets/img/skills/paper.png" />
                    <span>{{ langService.translationsMap.skills.Text }}</span>
                </div>
            </div>

            <div class="sic-sticker-container">
                <div class="skills-icon-container">
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/html.png" /><span>HTML</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/css.png" /><span>CSS</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/js.png" /><span>JavaScript</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/ts.png" /><span>TypeScript</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/angular.png" /><span>Angular</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/firebase.png" /><span>Firebase</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/git.png" /><span>Git</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/rest-api.png" /><span>Rest-API</span></div>
                    <div class="single-icon"><img class="skills-icon"
                            src="/assets/img/skills/icons/scrum.png" /><span>Scrum</span></div>
                </div>

                <div (click)="onStickerClick()" class="sticker">
                    <img [src]="stickerImage" alt="Sticker" />
                    <div class="sticker-text" *ngIf="stickerImage === '/assets/img/skills/sticker-open.png'">
                        <span>{{ langService.translationsMap.skills.stickerText }}</span>
                        <img src="/assets/img/skills/icons/python.png" />
                        <span>Python</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>