<div class="project-container" *ngFor="let project of projectlist; let i = index">
  <div class="project-img-wrapper">

    <button class="project-details-btn hover-btn" (click)="goToProject(project.name)">
      Project details
    </button>


    <img *ngIf="project.logo" class="project-logo" [src]="project.logo">

    <div class="hover-container">
      <img class="project-img" [src]="project.img" alt="{{ project.name }}"
        [ngClass]="{'project-img-laptop': project.name === 'Join'}">
    </div>
  </div>

  <div class="project-text-title">
    <span>{{ project.name }}</span>
    <p>{{
      i === 0 ? langService.translationsMap.projects.joinDescription :
      i === 1 ? langService.translationsMap.projects.pokedexDescription :
      i === 2 ? langService.translationsMap.projects.elpollolocoDescription :
      ''
      }}</p>
  </div>

  <button class="project-details-btn mobile-btn" (click)="goToProject(project.name)">
    {{ langService.translationsMap.projects.projectDetailsButton }}
  </button>
</div>