<div class="project-container" *ngFor="let project of projectlist; let i = index">

    <div class="project-img-wrapper">

        <button class="project-details-btn">Project details</button>

        <!-- <img *ngIf="i === 0" class="logo" src="/assets/img/skills/featured-logo.png" alt="Logo" [style.width]="'168px'"
            [style.position]="'absolute'" [style.bottom]="'0'" [style.marginBottom]="'50px'" [style.left]="'0'"
            [style.z-index]="'5'"> -->

 <!-- <img src="/assets/img/skills/featured-logo.png"> -->

        <div class="hover-container">
            <img class="project-img" [src]="project.img" alt="{{ project.name }}"
                [ngClass]="{'project-img-laptop': project.name === 'Join'}">
        </div>
    </div>

    <div class="project-text-title">
        <span>{{ project.name }}</span>
        <p>{{ project.description }}</p>
    </div>


</div>