
    <div class="max-width-1440 legal-notice">
        <app-header></app-header>
        <section>
            <h1>{{ langService.translationsMap.imprint.title }}</h1><br>
            <p>{{ langService.translationsMap.imprint.infoLine }}</p>
            <p>
                {{ langService.translationsMap.imprint.name }}<br>
                {{ langService.translationsMap.imprint.addressLine1 }}<br>
                {{ langService.translationsMap.imprint.addressLine2 }}<br><br>
            </p>
            <p><strong>{{ langService.translationsMap.imprint.representedByTitle }}</strong><br>
                {{ langService.translationsMap.imprint.representedByName }}<br><br>
            </p>
            <p><strong>{{ langService.translationsMap.imprint.contactTitle }}</strong> <br>
                {{ langService.translationsMap.imprint.phone }}<br>
                {{ langService.translationsMap.imprint.emailLabel }}:
                <a href="mailto:{{ langService.translationsMap.imprint.emailAddress }}">
                    {{ langService.translationsMap.imprint.emailAddress }}
                </a><br><br>
            </p>
            <p>
                <strong>{{ langService.translationsMap.imprint.disclaimerTitle }}</strong><br><br>
                <strong>{{ langService.translationsMap.imprint.liabilityContentTitle }}</strong><br>
                {{ langService.translationsMap.imprint.liabilityContentText }}<br><br>
                <strong>{{ langService.translationsMap.imprint.liabilityLinksTitle }}</strong><br>
                {{ langService.translationsMap.imprint.liabilityLinksText }}<br><br>
                <strong>{{ langService.translationsMap.imprint.copyrightTitle }}</strong><br>
                {{ langService.translationsMap.imprint.copyrightText }}<br><br>
                <strong>{{ langService.translationsMap.imprint.dataProtectionTitle }}</strong><br>
                {{ langService.translationsMap.imprint.dataProtectionText }}<br>
            </p><br>
            {{ langService.translationsMap.imprint.imprintByText }} <br>
            <a href="{{ langService.translationsMap.imprint.imprintByLinkUrl }}" target="_blank">
                {{ langService.translationsMap.imprint.imprintByLinkText }}
            </a>,
            <a href="{{ langService.translationsMap.imprint.imprintByGuideUrl }}" target="_blank">
                {{ langService.translationsMap.imprint.imprintByGuideText }}
            </a>,
            <a href="{{ langService.translationsMap.imprint.imprintByHostingUrl }}" target="_blank">
                {{ langService.translationsMap.imprint.imprintByHostingText }}
            </a>,
            <a href="{{ langService.translationsMap.imprint.imprintByCostsUrl }}" target="_blank">
                {{ langService.translationsMap.imprint.imprintByCostsText }}
            </a>,
            <a href="{{ langService.translationsMap.imprint.imprintByTemplateUrl }}" target="_blank">
                {{ langService.translationsMap.imprint.imprintByTemplateText }}
            </a>
        </section>
        <app-footer></app-footer>
    </div>
