.max-width-1440 h1,
.max-width-1440 h2,
.max-width-1440 h3 {
    color: #111;
    margin-bottom: 20px;
}
.max-width-1440 p {
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 20px;
}

.max-width-1440 a {
    color: #0077cc;
    text-decoration: none;
}

.max-width-1440 a:hover {
    text-decoration: underline;
}

@media (max-width: 1439px) {
    section {
        padding-top: 114px!important;

    }
}