<section class="max-width-1440 testimonials-container" [class.visible]="isVisible">

    <div class="titel-container">
        <div class="arrow-container">
            <img class="blue-arrow" src="/assets/img/testimonials/blue-arrow.png" />
            <h3>{{ langService.translationsMap.testimonials.headerSmall }}</h3>
        </div>
        <h2>{{ langService.translationsMap.testimonials.headerLarge }}</h2>
    </div>

    <div class="testimonials">
        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png" />
            <span class="testi-text">{{ langService.translationsMap.testimonials.person1.text }}</span>
            <div class="testi-job-name">
                <span class="testi-name">Thomas Deuter</span>
                <span class="testi-job">{{ langService.translationsMap.testimonials.person1.job }}</span>
            </div>
        </div>

        <div class="testi-paper">
            <img class="testi-paper-img" src="/assets/img/testimonials/paper-B.png" />
            <span class="testi-text">{{ langService.translationsMap.testimonials.person2.text }}</span>
            <div class="testi-job-name">
                <span class="testi-name">Markus Engel</span>
                <span class="testi-job">{{ langService.translationsMap.testimonials.person2.job }}</span>
            </div>
        </div>

        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png" />
            <span class="testi-text">{{ langService.translationsMap.testimonials.person3.text }}</span>
            <div class="testi-job-name">
                <span class="testi-name">Sofia Baumann</span>
                <span class="testi-job">{{ langService.translationsMap.testimonials.person3.job }}</span>
            </div>
        </div>
    </div>
</section>