section {
    height: 640px;
    padding-top: 20px;
    margin-bottom: 40px;
    gap: 48px;
}

h2 {
    text-align: right;
}

.arrow-container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: right;
}

.testimonials-container {
    opacity: 0;
    transform: translateX(100px); // Start rechts außerhalb
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0); // Normalposition reinrutschen
  }
}


.titel-container {
    display: flex;
    flex-direction: column;
    justify-self: right;
}

@keyframes revealArrow {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    20% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.blue-arrow {
    width: 100px;
    height: 36px;
    animation: revealArrow 3s ease-out infinite;
    animation-delay: 100ms;
}


.testimonials {
    width: 100vw;
    max-width: 100%;
    margin-top: 100px !important;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 66px;

    .testi-paper {
        position: relative;
        width: 200px;
        height: 250px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            z-index: 5 !important;
        }

        &::after {
            content: "";
            position: absolute;
            width: 510px;
            height: 317px;
            background-image: url("/assets/img/testimonials/yellow-hover.png");
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &:hover::after {
            opacity: 0.3;
        }

        &:hover .testi-job-name {
            color: white;
        }

        .testi-text {
            width: 446px;
            position: absolute;
            font-size: 18px;
            color: black;
            top: 0;
            text-align: center;
            text-align: left;
        }

        .testi-job-name {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            width: 446px;
            gap: 4px;
        }

        .testi-name {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        .testi-job {
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        &:nth-child(1) {
            transform: rotate(-4deg);
            z-index: 3;
        }

        &:nth-child(2) {
            margin-top: 70px;
            z-index: 2;
        }

        &:nth-child(3) {
            transform: rotate(4deg);
            z-index: 1;
        }
    }
}

@media (max-width: 1370px) {
    section {
        height: fit-content;
    }
}


@media (max-width: 1200px) {
    .testimonials {
        flex-direction: column;
        zoom: 92%;

        .testi-paper {
            &:nth-child(2) {
                margin-top: unset;
            }
        }
    }

}

@media (max-width: 800px) {
    section {
        padding: 0px 44px;
        padding-bottom: 44px;
    }
}

@media (max-width: 640px) {
    section {
        padding-bottom: 20px;
    }

    .testimonials {
        zoom: 90%;
    }

    .testi-paper img {
        transform: rotate(90deg);
        height: 300px;
        width: 340px;
    }

    .testi-text {
        width: 250px !important;
        top: -20px !important;
    }

    .testi-job-name {
        width: 250px !important;
    }

    .testimonials {
        .testi-paper::after {
            transform: rotate(90deg);
            transform-origin: center center;
            height: 300px;
            width: 340px;
        }
    }
}