<section class="max-width-1440">

    <div class="titel-container">
        <div class="arrow-container">
            <img class="blue-arrow" src="/assets/img/testimonials/blue-arrow.png">
            <h3>in Their Words:</h3>
        </div>
        <h2>Colleagues' Thoughts</h2>
    </div>


    <div class="testimonials">
        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png">
            <span class="testi-text">
                Edgar consistently showed great dedication to his work. His precise approach and technical understanding not only made production more efficient but also improved the quality of our products.
            </span>
            <div class="testi-job-name">
                <span class="testi-name">Thomas Deuter</span>
                <span class="testi-job">Production Manager</span>
            </div>
        </div>
        <div class="testi-paper">
            <img class="testi-paper-img" src="/assets/img/testimonials/paper-B.png">
            <span class="testi-text">
                Edgar brings calm focus and creative input to every discussion. His clean code and eye for usability added real quality to our product.
            </span>
            <div class="testi-job-name">
                <span class="testi-name">Markus Engel</span>
                <span class="testi-job">UI/UX Designer</span>
            </div>
        </div>
        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png">
            <span class="testi-text">
                Edgar is one of those teammates who always shows up prepared, motivated, and open to feedback. He made our frontend development process smoother and more fun.
            </span>
            <div class="testi-job-name">
                <span class="testi-name">Sofia Baumann</span>
                <span class="testi-job">Frontend Lead Developer</span>
            </div>
        </div>
    </div>
</section>