<section class="max-width-1440">

    <div class="titel-container">
        <div class="arrow-container">
            <img class="blue-arrow" src="/assets/img/testimonials/blue-arrow.png">
            <h3>in Their Words:</h3>
        </div>
        <h2>Colleagues' Thoughts</h2>
    </div>


    <div class="testimonials">
        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png">
            <span class="testi-text">Quisque non erat mi. Etiam congue nisl isque non erat mi. Etiam congue nisl ut oisque non erat mi. Etiam congue nisl ut out odio porta.</span>
            <div class="testi-job-name">
                <span class="testi-name">Steph jürgens </span>
                <span class="testi-job">Ingenieur</span>
            </div>
        </div>
        <div class="testi-paper">
            <img class="testi-paper-img" src="/assets/img/testimonials/paper-B.png">
            <span class="testi-text">Quisque non erat mi. Etiam congue nisl ut odio porta.</span>
            <div class="testi-job-name">
                <span class="testi-name">Steph jürgens </span>
                <span class="testi-job">Ingenieur</span>
            </div>
        </div>
        <div class="testi-paper">
            <img src="/assets/img/testimonials/paper-A.png">
            <span class="testi-text">Quisque non erat mi. Etiam congue nisl ut odio porta.</span>
             <div class="testi-job-name">
                <span class="testi-name">Steph jürgens </span>
                <span class="testi-job">Ingenieur</span>
            </div>
        </div>
    </div>
</section>