* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/assets/fonts/BricolageGrotesque10pt-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bricolage Grotesque';
    // display: flex;
    // justify-content: center; // Zentriert den Inhalt im Body
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

button {
    width: fit-content;
    border: 1px solid white;
    height: 40px;
    color: white;
    padding: 10px 24px 10px 24px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 100px;
}

.max-width-1440 {
    max-width: 1440px;
    margin: 0 auto; 
}