* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}




html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/BricolageGrotesque10pt-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  // color: red;
}

@font-face {
  font-family: 'Kalam';
  src: url('/assets/fonts/Kalam-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

section {
  padding: 144px 120px;
}

body {
  font-family: 'Bricolage Grotesque';
  width: 100%;
  cursor: none;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

button {
  width: fit-content;
  border: 1px solid white;
  height: 40px;
  color: white;
  padding: 10px 24px 10px 24px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 100px;
}

.max-width-1440 {
  max-width: 1440px;
  margin: 0 auto;
  // width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.project-container {
  gap: 32px;
  display: flex;
  flex-direction: column;
  width: 560px;
  height: fit-content;
  padding-top: 40px;

  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.project-text-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-img-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  .project-img {
    height: 337px;
    width: 560px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    transition: transform 350ms ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(14, 16, 19, 0) 60%, rgba(14, 16, 19, 0.7) 100%);
    opacity: 0;
    transition: opacity 350ms ease-out;
    border-radius: 20px;
  }

  .hover-container {
    transition: transform 350ms ease-out;
  }

  &:hover .hover-container {
    transform: scale(1.05) translateX(-10px);
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover>.project-details-btn {
    opacity: 1;
    pointer-events: auto;
  }


  .project-details-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    box-shadow: 2px 4px 0px 0px #F8F9FA;
    transition:
      background-color 0.12s ease-in,
      box-shadow 0.12s ease-in,
      transform 0.12s ease-in;

    &:hover {
      background-color: #F87A55;
      transform: translate(2px, 4px);
      box-shadow: none;
    }
  }


}

.mobile-btn {
  display: none;
  margin-bottom: 12px;
  // margin-top: 8px;
  width: fit-content;
  border: 2px solid black !important;
  height: 40px;
  color: black;
  padding: 10px 24px 10px 24px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 2px 4px 0px 0px black;
  margin-left: auto;

  &:hover {
    background-color: #F87A55;
    color: white;
    box-shadow: none;
    transform: translate(2px, 4px);
  }
}

.project-img-laptop {
  animation: floatUpDown 2s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-22px);
  }
}

@keyframes revealAnimation {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0 0 0 0);
  }

  70% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.se-logo {
  height: 70px;
  width: 80px;
  margin-left: -15px;
  transition: all 200ms ease-in;
  cursor: pointer;

  &:hover {
    // fill: black; /* Standardfarbe */
    filter: brightness(0) saturate(100%) invert(76%) sepia(91%) saturate(1193%) hue-rotate(12deg) brightness(101%) contrast(101%);
  }
}

.f-s18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.f-s20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}

.f-s24 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;

}

.lin-grad {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0)7.5%);
}


.cursor-dot,
.cursor-outline {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.cursor-outline {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 2px solid #dadada;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.15s ease-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dadada;
  border-radius: 50%;
}

/* Startzustand: unsichtbar + leicht nach unten verschoben */



@keyframes buttonHoverScale {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.05);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes buttonHoverScaleReverse {
  0% {
    transform: scaleX(1.05);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes animationIconHover {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }

  30% {
    opacity: 0.7;

  }

  100% {
    transform: translateX(45px) rotate(350deg);
    opacity: 1;
  }
}

@keyframes animationIconHoverReverse {
  0% {
    transform: translateX(45px) rotate(350deg);
    opacity: 1;
  }

  30% {
    opacity: 0.7;
  }

  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
}

.project-logo {
  max-width: 168px;
  width: 100%;
  position: absolute;
  bottom: 0;
  // margin-bottom: 50px;
  left: 0;
  z-index: 5;
}

@media (max-width: 1200px) {
  .project-container {
    gap: 20px;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .hover-btn {
    display: none !important; // verstecke Button 1 auf kleineren Geräten
  }

  .mobile-btn {
    display: inline-block !important; // zeige Button 2 nur auf kleinen Geräten
  }

  h2 {
    font-weight: 700;
    font-size: 48px !important;
  }

  h3 {
    font-weight: 500 !important;
    font-size: 18px !important;
  }

  .f-s20 {
    font-size: 18px;
  }

  .project-img-wrapper {
    max-height: 337px;
    max-width: 560px;
    height: 100%;
    width: 100%;

    .project-img {
      // height: 337px;
      // width: 560px;
      max-height: 337px;
      max-width: 560px;
      height: 100%;
      width: 100%;
    }
  }

  .project-container {
    flex-direction: column;
    gap: 16px;
    max-width: 560px;
    width: 100%;
    max-height: 515px;
    height: 100%;
    margin-top: unset;
    padding-top: unset;

    span {
      font-size: 20px;
    }
  }

  .project-logo {
    width: 120px;
  }

  .project-text-title {
    gap: 8px;
  }
}

@media (max-width: 450px) {
  .project-logo {
    width: 100px;
  }
}


@media (max-width: 1439px) {
  section {
    padding-top: 80px;
    padding-right: 44px;
    padding-bottom: 80px;
    padding-left: 44px;

  }
}


@media (max-width: 685px) {
  section {
    padding-top: 44px !important;
    padding-right: 16px !important;
    padding-bottom: 44px !important;
    padding-left: 16px !important;

  }
}

/* Nur Hochformat */
/* Nur für schmale Bildschirme (typisch Handy) */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #000;
    color: white;
    font-size: 1.5rem;
    margin: 0;
  }

  body>* {
    display: none;
  }

  body::before {
    content: "Bitte halte das Gerät im Hochformat";
    text-align: center;
    padding: 1rem;
  }
}