footer {
    padding: 0px 120px 0px 120px;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    a {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.name{
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 120px;
   
}