footer {
    padding: 50px 95px;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    width: 100%;
}

footer a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 40px;
}

a:nth-child(n+2):hover {
    background-color: #3355FF;
    border-radius: 40px;
}

footer a:nth-child(1) {
    position: relative;
}

footer a:nth-child(1)::after,
.empty-place-mobile a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/header/contact-hover.png');
    background-repeat: no-repeat;
    background-position: center;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.125s ease-out;
}

footer a:nth-child(1):hover::after,
.empty-place-mobile a:hover::after {
    clip-path: inset(0 0 0 0);
}

.name-logo {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 120px;
    width: fit-content;

    a {
        width: fit-content;
    }
}

.empty-place-mobile {
    display: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 40px;

    a {
        color: white;
    }
}

.empty-place-mobile a {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 12px;
    padding-top: 12px;

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 40px;
}

.empty-place {
    margin-top: 30px;
}

.footer-icons {
    width: 30px;
    opacity: 0;
}

.link-container {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.link-container.hovered .footer-icons {
    animation: animationIconHover 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
}

.link-container.reverse .footer-icons {
    animation: animationIconHoverReverse 0.25s ease-out forwards;
}

.empty-ph {
    height: 30px;
}

@keyframes animationIconHover {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 0;
    }

    30% {
        opacity: 0.7;

    }

    100% {
        transform: translateX(35px) rotate(360deg);
        opacity: 1;
    }
}

@keyframes animationIconHoverReverse {
    0% {
        transform: translateX(35px) rotate(360deg);
        opacity: 1;
    }

    30% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 0;
    }
}

@media (max-width: 1439px) {
    .name-logo {
        padding-left: 44px
    }

    footer {
        padding: 50px 20px;
    }
}

@media (max-width: 685px) {
    footer {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-left: 20px;

    }

    .name-logo {
        padding-left: 16px;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 35px;

        span {
            padding-bottom: 17px;
        }
    }

    .empty-place {
        display: none;
    }

    .empty-place-mobile {
        display: flex;

    }

    .mobile-column {
        padding-right: 16px;
        justify-items: right;
    }
}

@media (max-width: 360px) {
    footer {
        padding-left: 0px;
        padding-right: 0px;
    }
}